.container {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
}

.textarea_readonly {
    background: red;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Define the checkmark symbol */
ul.checkmark li:before {
    content: '✓';
    margin-right: 10px;
}

/* Remove the bullet point */
ul.checkmark {
    list-style: none;
    padding-left: 0;
}

/* Define the checkmark symbol */
ul.crossmark li:before {
    content: '✘';
    margin-right: 10px;
}

/* Remove the bullet point */
ul.crossmark {
    list-style: none;
    padding-left: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: #ff0;
}