{% extends "base.html" %}

{% block title %}SheX Visualizer{% endblock %}

{% block content %}
<div class="container" style="border:5px solid green;">
    <div class="row" style="border:7px solid blue;">
        <div class="column">
            <form method="POST" action="/">
                <label for="shex">ShEx Schema:</label><br>
                <input type="text" name="endpoint" placeholder="SPARQL endpoint" value="Your endpoint here"
                       style="width: 50%">
                <select id="endpoint_menu" name="endpoint_menu" method="GET" action="/">
                    <option value="IGNORE ENDPOINT">--- OPTIONAL SELECT ENDPOINT---</option>
                    {% for endpoint in endpoint_menu %}
                        <option value="{{ endpoint }}">{{ endpoint }}</option>
                    {% endfor %}
                </select><br>
                <select id="shex_menu" name="shex_menu" method="GET" action="/">
                    <option value="No ShEx example selected">--- ShEx Examples---</option>
                    {% for shex in shex_menu %}
                        <option value="{{ shex_menu[shex] }}">{{ shex }}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="submit_type" value="example">Get example</button><br>Examples might not show due to caching issues...

                <textarea id="shex" name="shex" style="width: 90%">{{ text_shex }}</textarea><br>
                <textarea id="sparql" name="sparql" style="width: 90%" rows="3"> {{ text_sparql }}</textarea><br>
                <button type="submit" name="submit_type" value="validate">Validate</button>
                <button type="submit" name="submit_type" value="shex2dot">Visualize</button>
                <br>
            </form>
        </div>
        <div class="column">

            {% if not shex_image %}
                <h1>Validation content</h1>
            {% endif %}

            {% if text_output_pass %}
                <p style="color:green;">THESE ARE WELL!!!</p>
                <ul class="checkmark">
                    {% for item in text_output_pass %}
                        {{ item }}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if text_output_fail %}
                <p style="color:red;">FAILURES DETECTED!!!!</p>
                <ul class="crossmark">
                    {% for item in text_output_fail %}
                        {{ item }}
                    {% endfor %}
                </ul>
            {% endif %}
            {% if text_output_error %}
                <p style="color:purple;">SOMETHING WENT WRONG!!!</p>
                {% for item in text_output_error %}
                    {{ item }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
        {% if shex_image %}
            <h1>ShEx visualization</h1>
            <!-- <object id="my-svg" type="image/svg+xml" data="data:image/svg+xml;base64,{{ shex_image }}" ></object> -->
            {{ shex_image | safe }}
        {% endif %}

</div>

{% endblock %}

